apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-api
  namespace: payments-dev
  labels:
    app: payments-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments-api
  template:
    metadata:
      labels:
        app: payments-api
    spec:
      containers:
        - name: payments-api
          image: idanarbel/finpay-payments-api:1.2.3
          ports:
            - containerPort: 80
          env:
            - name: LOG_LEVEL
              value: "debug"
            - name: DB_HOST
              value: "postgres-dev.finpay.internal"
          resources:
            requests:
              cpu: 25m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 128Mi
---
apiVersion: v1
kind: Service
metadata:
  name: payments-api
  namespace: payments-dev
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
  selector:
    app: payments-api
